<%= form_tag('.', :id => @form_id, :class => 'save_form ui-widget-content ui-widget ui-corner-all') do %>
  <table>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :id_reserve_date, 'Date', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :reserve_date, fmt_date(@reservation.reserve_date), :id => 'id_reserve_date', :class => 'text date_input', :placeholder => 'dd-mm-YYYY' %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :id_reserve_time, 'Time', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :reserve_time, @reservation.reserve_time.present? ? fmt_time(@reservation.reserve_time) : '08:00 AM', :id => 'id_reserve_time', :style => 'width: 170px', :placeholder => 'hh:mm',
                           :title => 'enter time in this format, 08:00 AM' %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :id_name, 'Name', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :name, @reservation.name, :id => 'id_name', :class => 'text', :placeholder => 'enter name',
                           :title => 'enter name', :maxlength => 30 %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :id_pax, 'Pax', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :pax, @reservation.pax, :id => 'id_pax', :class => 'text', :placeholder => 'enter pax',
                           :title => 'enter pax', :maxlength => 10 %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :id_table, 'Table', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :table, @reservation.table, :id => 'id_table', :class => 'text', :placeholder => 'enter table',
                           :title => 'enter table', :maxlength => 5 %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :id_phone, 'Phone No.', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :phone_no, @reservation.phone_no, :id => 'id_phone', :class => 'text', :placeholder => 'enter phone no.',
                           :title => 'enter phone no.', :maxlength => 15 %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :id_remarks, 'Remarks', :class => 'label' %>
      </td>
      <td>
        <%= text_field_tag :remarks, @reservation.remarks, :id => 'id_remarks', :class => 'text', :placeholder => 'enter remarks',
                           :title => 'enter remarks', :maxlength => 30 %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :id_location, 'Location', :class => 'label' %>
      </td>
      <td>
        <select id="id_location" class="select">
          <%= options_for_select(@location_list, 
              @reservation.location.blank? ? 1 : @reservation.location) %>
        </select>
      </td>
    </tr>
    <tr>
      <td valign="top" class="lbl">
        <%= label_tag :id_status, 'Status', :class => 'label' %>
      </td>
      <td>
        <select id="id_status" class="select">
          <%= options_for_select(@status_list, 
              @reservation.status.blank? ? 1 : @reservation.status) %>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div class="row_button">
          <%= render 'shared/save_button' %>
          <%= render 'shared/cancel_button' %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
