<% if @data.present? && @data[:list].any? %>
  <table class="list_table">
    <thead class="ui-widget-header">
      <tr>
        <th class="data chkbox"><input class="hdchk" type="checkbox" /></th>
        <th class="data">
          <div id="hd_reserve_date" class="sortheader hover">
            <span class="colheader">Date</span>
            <span class="sorticon"></span>
          </div>
        </th>
        <th class="data">
          <div id="hd_reserve_time" class="sortheader hover">
            <span class="colheader">Time</span>
            <span class="sorticon"></span>
          </div>
        </th>
        <th class="data">
          <div id="hd_name" class="sortheader hover">
            <span class="colheader">Name</span>
            <span class="sorticon"></span>
          </div>
        </th>
        <th class="data">
          <div id="hd_table" class="sortheader hover">
            <span class="colheader">Table</span>
            <span class="sorticon"></span>
          </div>
        </th>
        <th class="data">
          <div id="hd_location" class="sortheader hover">
            <span class="colheader">Location</span>
            <span class="sorticon"></span>
          </div>
        </th>
        <th class="data">
          <div id="hd_status" class="sortheader hover">
            <span class="colheader">Status</span>
            <span class="sorticon"></span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    <% @data[:list].each do |o| %>
      <tr id="tr_<%= o.id %>" class="<%= cycle("ui-state-active", "ui-state-default") %>">
        <td class="data chkbox"><input class="chk" type="checkbox" /></td>
        <td class="data"><%= h fmt_date(o.reserve_date) %></td>
        <td class="data"><%= h fmt_time(o.reserve_time) %></td>
        <td class="data"><%= h o.name %></td>
        <td class="data"><%= h o.table %></td>
        <td class="data">
          <select class="select location">
            <%= options_for_select(@location_list, 
                o.location.blank? ? 1 : o.location) %>
          </select>
        </td>
        <td class="data">
          <select class="select status">
            <%= options_for_select(@status_list, 
                o.status.blank? ? 1 : o.status) %>
          </select>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<input id="id_pg" type="hidden" value="<%= @data[:hasprev] %>,<%= @data[:hasnext] %>,<%= @data[:prevpage] %>,<%= @data[:nextpage] %>,<%= @data[:item_msg] %>,<%= @data[:sortcolumn] %>,<%= @data[:sortdir] %>" />
