<div id="menu">
  <h3><%= link_to 'Administration', '#' %></h3>
  <div>
    <div><%= link_to 'User', '#', :onclick => "return user.load()", :id => 'menu_user' %></div>
    <div><%= link_to 'Staff', '#', :onclick => "return staff.load()" %></div>
    <div><%= link_to 'Job Position', '#', :onclick => "return job.load()" %></div>
    <div><%= link_to 'Reservation', '#', :onclick => "return reservation.load()" %></div>
  </div>
  <h3><%= link_to 'Staff Schedule', '#' %></h3>
  <div>
    <div><%= link_to 'Kitchen', '#', :onclick => "return kitchensch.load()" %></div>
    <div><%= link_to 'Service', '#', :onclick => "return servicesch.load()" %></div>
  </div>
</div>
