<% @title = 'Akamomiji Portal: Log In' %>

<div class="login_box ui-state-hover">
  <div class="msg ui-state-highlight">Please log in to access the application:</div>
  
  <%= content_tag :div, notice, :class => 'notice ui-state-hover' if notice.present? %>
  <%= content_tag :div, alert, :class => 'errorblock ui-state-error' if alert.present? %>
  
  <%= form_tag(auth_path) do %>
    <div class="row">
      <%= label_tag :role, 'User Role', :class => 'editor-label' %>
      <%= select_tag :role, options_for_select(@role_list), :id => 'role', :class => 'select' %>
    </div>
    <div class="row">
      <%= label_tag :password, 'Password', :class => 'editor-label' %>
      <%= password_field_tag :password, 'admin123', :class => 'text-box' %>
    </div>
    
    <div class="msg">
      <%= submit_tag 'Log In', :class => 'hover msg login_btn ui-state-highlight' %>
    </div>
  <% end %>
</div>
